include CHANGELOG.md
include LICENSE
include README.md
include tcgplayer_api/VERSION
recursive-include api_specs *.json

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst *.md conf.py Makefile make.bat *.jpg *.png *.gif
